body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.box {
    width: 200px;
    height: 80px;
    background: #acd6ff;
    border: 2px solid #0062cc;
    margin-top: 10px;
    padding: 10px;
    display: block;
}


.btn-blue {
    padding: 10px 20px;
    background: linear-gradient(45deg, #0077ff, #00bbff);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-blue:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px #00bbff;
}

#logof2 {
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, #0033cc, #0099ff);
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    line-height: 150px;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 100, 255, 0.5);
    transition: 0.4s;
}